/* Add color styles */
/*.wrapper{
    display: flex;
    position: relative;
}
.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
  }
.wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #b288cd;
    padding: 30px 0;
}
body {
    font-family: Arial, sans-serif;
    background-color: #14d655;
}

.sidebar {
    background-color: #a2e06c;
    color: #fff;
}

.sidebar h2 {
    padding: 20px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
}

.main_content {
    background-color: #406183;
    padding: 20px;
}

.header {
    padding: 20px;
}

.info {
    padding: 20px;
}
*/
.wrapper{
    display: flex;
    position: relative;
  }
  .wrapper .sidebar{
    position: fixed;
    width: 200px;
    height: 100%;
    background: #16564e;
    padding: 30px 0;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  body{
     background-color: #f3f5f9;
  }
  
  .wrapper{
    display: flex;
    position: relative;
  }
  
  .wrapper .sidebar{
    width: 200px;
    height: 100%;
    background: #8148b1d3;
    padding: 30px 0px;
    position: fixed;
  }
  
  .wrapper .sidebar h2{
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
  }
  
  .wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 1px solid #d0cedd;
    border-bottom: 1px solid rgba(85, 60, 169, 0.05);
    border-top: 1px solid rgba(80, 34, 118, 0.63);
  }    
  
  .wrapper .sidebar ul li a{
    color: #bdb8d7;
    display: block;
  }
  
  .wrapper .sidebar ul li a .fas{
    width: 25px;
  }
  
  .wrapper .sidebar ul li:hover{
    background-color: #594f8d;
  }
      
  .wrapper .sidebar ul li:hover a{
    color: #fff;
  }
   
  .wrapper .main_content{
    width: 100%;
    margin-left: 200px;
  }
  
  .wrapper .main_content .header{
    padding: 20px;
    background: #404051;
    color: #b8a9a9;
    border-bottom: 1px solid #e0e4e8;
  }
  
  .wrapper .main_content .info{
    margin: 20px;
    background: #cbc7e0;
    color: #717171;
    line-height: 25px;
  }
  
  .wrapper .main_content .info div{
    margin-bottom: 20px;
  }
  